[submodule "polyfill/external/range-v3"]
	path = polyfill/external/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "polyfill/external/debugbreak"]
	path = polyfill/external/debugbreak
	url = https://github.com/scottt/debugbreak.git
[submodule "plotting/plotting/polyfill/external/range-v3"]
	path = plotting/plotting/polyfill/external/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "plotting/plotting/polyfill/external/debugbreak"]
	path = plotting/plotting/polyfill/external/debugbreak
	url = https://github.com/scottt/debugbreak.git
[submodule "plotting/plotting/polyfill/external/pybind11"]
	path = plotting/plotting/polyfill/external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "plotting/plotting/polyfill/external/cppitertools"]
	path = plotting/plotting/polyfill/external/cppitertools
	url = https://github.com/ryanhaining/cppitertools.git
[submodule "plotting/plotting/polyfill/external/flann"]
	path = plotting/plotting/polyfill/external/flann
	url = https://github.com/mariusmuja/flann.git
[submodule "plotting/plotting/polyfill/external/kgraph"]
	path = plotting/plotting/polyfill/external/kgraph
	url = https://github.com/aaalgo/kgraph.git
