[submodule "polyfill/external/range-v3"]
	path = polyfill/external/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "polyfill/external/debugbreak"]
	path = polyfill/external/debugbreak
	url = https://github.com/scottt/debugbreak.git
